<html>
    <body>
        <h1> Cadastro de Produto</h1>
        <form action="/cadastro/produto/salvar" method="post">
            <label>Nome:</label>
            <input name="none" type="text"/><br/>
            <label>Quantidade</label>
            <input name="quantidade" type="text"/><br/>
            <label>Preço</label>
            <input name="preco" type="text"/><br/>
            <input type="submit" value="cadastrar"/>
        </form>
        <% if(mensagem){%>
            <p>
                <label style="color:red"><%= mensagem %></label>
            </p>
            <%}%>
    </body> 
</html>