<html>
    <body>
        <h1> Cadastro de Cliente</h1>
        <form action="/cadastro/cliente/salvar" method="post">
            <label>Nome:</label>
            <input name="none" type="text"/><br/>
            <label>Senha:</label>
            <input name="senha" type="password"/><br/>
            <input type="submit" value="cadastro"/>
        </form>
        <% if(mensagem){%>
            <p>
                <label style="color:red"><%= mensagem %></label>
            </p>
            <%}%>
    </body>
</html>